<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Project Template</title>
		
		<!-- Add link tag to Bootstrap CSS below -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
    
		<!--   Link to local CSS stylesheet style.css   -->
		<link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    
<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">
        <img src="https://freelogopng.com/images/all_img/1658985797bank-of-america-logo.png" width="60" height="60" alt="">
        <span><a class="nav-item nav-link" href="practice">Practice</a></span>
        <span><a class="nav-item nav-link" href="trivia">Quiz</a></span>
        <!-- <ul class="navbar">
          <span><li class="nav-item"><a class="nav-link" href="practice">Practice</a></li></span>
          <span><li class="nav-item"><a class="nav-link" href="trivia">Quiz</a></li></span>
        </ul> -->
      <!-- </div> -->
      </div>
    </nav>
<!-- NAVBAR END -->
<!-- Header -->
<div class= "header">
<strong><h1>Welcome to the Financial Trivia Quiz</h1></strong>
  <h2>53% of adults are financially anxious, Two in three families lack an emergency fund, and 78% of adults live paycheck to paycheck. In order to help bring those numbers down, people need to be financially literate and learn how manage their money. Our goal is to help with that.</h2>
  <h2>Click below to test your knowledge!</h2>
<a button type="button" class="btn btn-primary btn-lg" href="trivia">Quiz</a></button>
</div>



	<!--   Add script tag for Bootstrap JS Bundle below   -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>	
  </body>
</html>