
<!doctype html>
<html lang="en">
<!-- Trivia Page  -->
<!-- This will have the questions my bad -->

  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <title>Quiz Results!</title>
  <!--   Link to local CSS stylesheet style.css   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>

  <body>
    <div class="header">
      <h1>Not quite right</h1>
    </div>
  </body>
</html>