<!doctype html>
<html lang="en">
<!-- The learn more/practice page  -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <title>Welcome to the practice flashcards!</title>
  <!--   Link to local CSS stylesheet style.css   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="style.css"> -->
  <!--   Link to local CSS stylesheet style.css   -->
		<link rel="stylesheet" href="../static/css/style.css">
</head>
  <body>
            <nav class="navbar navbar-expand-lg sticky-top">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">
          <img src="https://freelogopng.com/images/all_img/1658985797bank-of-america-logo.png" width="60" height="60" alt="">
        </a>
        <span><a class="nav-item nav-link" href="practice">Practice</a></span>
        <span><a class="nav-item nav-link" href="trivia">Quiz</a></span>
      </div>
        </nav>
        
<div class="head">
      <h1>Practice flashcards!</h1>
      <p>Study before the quiz :)</p>
    </div>
    <!-- Container starts -->

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Net Income</h3>
      <img src="https://www.southernliving.com/thmb/9atmYb-veoLIAG09txur7RBjnm0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/gettyimages-511517540-2000-0609a69562424f93b0bef488a7e6e098.jpg">
      <p>Net income, also sometimes called take-home pay or net pay is gross income minus any deductions and withholdings from your paycheck. These deductions might include federal income tax, a retirement or pension account, and social security.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Creditor vs Co-signer</h3>
      <img src="https://97a71502eb772ee741d5-eec37cd46b952dd4b9d7b7ed972b68c1.ssl.cf1.rackcdn.com/cosigner-03-5b29744459ca8.png">
       <p>Co-signing involves you having your own credit card, whereas an authorized user is something you become.A creditor is an individual or institution that extends credit to another party to borrow money usually by a loan agreement or contract. On secured loans, creditors can repossess collateral like homes or cars and creditors can sue debtors for repayment of unsecured loans.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Budgeting</h3>
      <img src="https://media.istockphoto.com/id/628560830/vector/expenses-checklist-receipts-wallet-calculator.jpg?s=612x612&w=0&k=20&c=qqRcNFA8M3gCv3B46RfvfvgcEczGtCMH_gJRzOZeBH0=">
       <p>Budgeting is the process of creating a plan to spend your money. This spending plan is called a budget. Creating this spending plan allows you to determine in advance whether you will have enough money to do the things you need to do or would like to do. Budgeting is simply balancing your expenses with your income.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>401(k)</h3>
      <img src="https://clipart-library.com/img1/217560.jpg">
        <p>A 401(k) plan is a tax-advantaged way to save for retirement that many employers offer as a benefit. Plans often allow you to select how funds in the account will be invested, and all allow and encourage if not require you to name one or more beneficiaries.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Debit cards</h3>
      <img src="https://www.pngkit.com/png/detail/83-836010_cards-clipart-atm-card-credit-debit-card-png.png">
        <p>A debit card, also known as a check card or bank card, is a payment card that can be used in place of cash to make purchases. The card usually consists of the bank's name, a card number, the cardholder's name, and an expiration date, on either the front or the back</p>
    </div>
  </div>
</div>
  </body>
</html>