
<!doctype html>
<html lang="en">
<!-- Trivia Page  -->
<!-- This will have the questions my bad -->

  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <title>Welcome to the quiz!</title>
  <!--   Link to local CSS stylesheet style.css   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="style.css"> -->
  <!--   Link to local CSS stylesheet style.css   -->
		<link rel="stylesheet" href="../static/css/style.css">
</head>
  <body>
        <nav class="navbar navbar-expand-lg sticky-top">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">
          <img src="https://freelogopng.com/images/all_img/1658985797bank-of-america-logo.png" width="60" height="60" alt="">
        </a>
        <span><a class="nav-item nav-link" href="practice">Practice</a></span>
        <span><a class="nav-item nav-link" href="trivia">Quiz</a></span>
      </div>
        </nav>
    
<div class="head">
      <h1>Financial Trivia</h1>
          <p>Complete the quiz to see how financially literate you are.</p>
    </div>
    <!-- <form method="POST" action="">
  

      <div class="question">

      </div>

      <input type="submit" value="Submit"/>


    </form> -->
<div class="trivia">
    <form method="POST">
      <!-- Q1 -->
      <!-- <fieldset>
      <div class="question">
          <h2>1) What is net income?</h2>
        </div><br>
        <div class = "answer">
          <label for= "a"><input type= "radio" name= "Q1" value= "a">a) What you make per decade</label>
          <label for= "b"><input type= "radio" name= "Q1" value= "b">b) What you steal per person</label>
          <label for= "c"><input type= "radio" name= "Q1" value= "c">c) Income after taxes (take home pay)</label>
        </div>
      </fieldset> -->

      <div class = "container">
        <div class="card" >
          <div class="card-header">
          <h2>1) What is net income?</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><input type="radio" name="Q1" value="a">a) What you make per decade</li>
            <li class="list-group-item"> <input type="radio" name="Q1" value="b">b) What you steal per person</li>
            <li class="list-group-item"> <input type="radio" name="Q1" value="c">c) Income after taxes (take home pay)</li>
          </ul>
        </div>
      </div>
      <!-- Q2 -->
         <!-- <div class="question">
          <h2>2) _____ is an individual that lends money or extends credit.</h2>
        </div><br>
        <div class = "answer">
          <input type= "radio" name= "Q2" value= "a">
          <label for= "a">a) A co-signer</label>
          <input type= "radio" name= "Q2" value= "b">
          <label for= "b">b) A payor</label>
          <input type= "radio" name= "Q2" value= "c">
          <label for= "c">c) A creditor</label>
        </div> -->
<div class = "container">
 <div class="card" >
    <div class="card-header">
          <h2>2) _____ is an individual that lends money or extends credit.</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><input type="radio" name="Q2" value="a">a) A co-signer</li>
            <li class="list-group-item"> <input type="radio" name="Q2" value="b">b) A payor</li>
            <li class="list-group-item"> <input type="radio" name="Q2" value="c">c) A creditor</li>
          </ul>
        </div>
      </div>
      <!-- Q3 -->
       <!-- <div class="question">
          <h2>3) What is a budget?</h2>
        </div><br>
        <div class = "answer">
          <input type= "radio" name= "Q3" value= "a">
          <label for= "a">a) How much you're getting in income</label>
          <input type= "radio" name= "Q3" value= "b">
          <label for= "b">"b) A spending plan</label>
          <input type= "radio" name= "Q3" value= "c">
          <label for= "c">c) An account of some kind</label>
        </div> -->
      <div class = "container">
 <div class="card" >
    <div class="card-header">
          <h2>3) What is a budget?</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><input type="radio" name="Q3" value="a">a) a) How much you're getting in income</li>
            <li class="list-group-item"> <input type="radio" name="Q3" value="b">b) A spending plan</li>
            <li class="list-group-item"> <input type="radio" name="Q3" value="c">c) An account of some kind</li>
          </ul>
        </div>
      </div>
      <!-- Q4 -->
       <!-- <div class="question">
          <h2>4) A 401(k) is a type of tax-advantage defined-contribution account designed to help you save for what withdrawal from working life?</h2>
        </div><br>
        <div class = "answer">
          <input type= "radio" name= "Q4" value= "a">
          <label for= "a">Retirement</label>
          <input type= "radio" name= "Q4" value= "b">
          <label for= "b">Vacation</label>
          <input type= "radio" name= "Q4" value= "c">
          <label for= "c">Sick Days</label>
        </div> -->
<div class = "container">
 <div class="card" >
    <div class="card-header">
          <h2>4) A 401(k) is a type of tax-advantage defined-contribution account designed to help you save for what withdrawal from working life?</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><input type="radio" name="Q4" value="a">a) Retirement</li>
            <li class="list-group-item"> <input type="radio" name="Q4" value="b">b) Vacation</li>
            <li class="list-group-item"> <input type="radio" name="Q4" value="c">c) Sick Days</li>
          </ul>
        </div>
      </div>
      <!-- Q5 -->
       <!-- <div class="question">
          <h2>5) What is a debit card?</h2>
        </div><br>
        <div class = "answer">
          <input type= "radio" name= "Q5" value= "a">
          <label for= "a">a) A card that draws on funds directly deposited with the card provider</label>
          <input type= "radio" name= "Q5" value= "b">
          <label for= "b">b) A card that allows customers to borrow money from the provider</label>
          <input type= "radio" name= "Q5" value= "c">
          <label for= "c">c) Free money</label>
        </div> -->
<div class = "container">
 <div class="card" >
    <div class="card-header">
          <h2>5) What is a debit card?</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><input type="radio" name="Q5" value="a">a) A card that draws on funds directly deposited with the card provider</li>
            <li class="list-group-item"> <input type="radio" name="Q5" value="b">b) A card that allows customers to borrow money from the provider</li>
            <li class="list-group-item"> <input type="radio" name="Q5" value="c">c) Free money</li>
          </ul>
        </div>
      </div>
      <div class="submit">
      <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
        <input type="submit" value="Submit" />
        
    </form>
<div>
  {{results}}
</div>
    </form>
</div>

    <!-- <form>
      <fieldset>
      <label>1) What is net income?</label>
        <label for="1a"><input id="1a" type="radio" name="one" class="inline">What you make per decade</label>
        <label for="1b"><input id="1b" type="radio" name="one" class="inline">What you steal per person</label>
        <label for="1c"><input id="1c" type="radio" name="one" class="inline">Income after taxes (take home pay)~</label> 
      </fieldset>
      <br>
      <fieldset>
      <label>2)  ______ is an individual that lends money or extends credit.</label>
        <label for="2a"><input id="2a" type="radio" name="two">A co-signer</label>
        <label for="2b"><input id="2b" type="radio" name="two">A payer</label>
        <label for="2c"><input id="2c" type="radio" name="two">A creditor</label> 
      </fieldset>
      <br>
      <fieldset>
      <label>3)  What is a budget?</label>
         <label for="3a"><input id="3a" type="radio" name="three">How much you're getting in income</label>
          <label for="3b"><input id="3b" type="radio" name="three">A spending plan</label>
          <label for="3c"><input id="3c" type="radio" name="three">An account of some kind</label> 
      </fieldset>
      <br>
      <fieldset>
      <label>4) A 401(k) is a type of tax-advantage defined-contribution account designed to help you save for what withdrawal from working life?</label>
      </fieldset>
      <br>
      <fieldset>
      <label>5) The set of financial activities that support the OPERATIONS of a business is best described by which main area of finance?</label>
      </fieldset> -->
    <!-- </form> -->
  </body>
</html>